@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Prompt:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans KR", "Acme", "Prompt", Helvetica, "맑은 고딕",
    "malgun gothic", "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1300px;
  margin: 0 auto;
}

.gotopbox {
  position: fixed;
  right: 20px;
  bottom: 50px;
  display: block;
  z-index: 9999;
}
.gotopbox button {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;

  border: 0;
  /* background: transparent; */
  margin-bottom: 20px;
}
.go-info,
.go-pdf {
  background: transparent;
}
.go-info a,
.go-pdf a {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.gotopbox button:last-child {
  margin-bottom: 0;
}
.gotopbox button a {
  display: block;
}
.gotopbox button a img {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.gotop {
  display: block;
  width: 50px;
  height: 50px;
  background: #e5e5e5;
  border-radius: 15px;
  border: 0;
  transition: 0.2s ease-in;
}

.gotop:hover {
  background: #4c4c4c;
  color: #e5e5e5;
}
.info-submenu {
  position: absolute;
  top: 0;
  left: 0px;
  display: block;
  margin-top: 5px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.info-submenu a {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.info-submenu a img {
  width: 100%;
  height: 100%;
}
.go-info:hover .info-submenu {
  opacity: 1;
  left: -50px;
}
@media screen and (max-width: 950px) {
  .go-info,
  .go-pdf,
  .gotopbox {
    display: none;
  }

  .gotop {
    display: none;
  }
}

.wrap {
  position: relative;
  display: block;
  margin-left: 260px;
  overflow-x: hidden;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Acme";
  letter-spacing: 3px;
  /* color: hsl(0, 0%, 13%); */
}

h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -10px;
  width: 10%;
  height: 5px;
  background-color: #5fa4e8;
  z-index: 99;
}
.mb-dim {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}
.mb-dim-click {
  display: block;

  transition: 0.5s ease-in-out;
}

.mb-menu {
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  width: 35%;
  height: 100vh;
  z-index: 9999;
  transition: all 0.3s ease-out;
}

.mb-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  background: url("../images/menu.png") no-repeat center;
  background-size: cover;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  border: 0;
}
.mb-btn-click {
  background: url("../images/close.png") no-repeat center;
  background-size: cover;
  transition: background 0.3s ease-in;
  z-index: 9;
}
.mb-menu-list {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 100%;
  background: #000;
  transition: 0.5s ease;
  opacity: 0;
}

.mb-menu-list-click {
  width: 100%;
  opacity: 1;
}

.mb-menu-list li {
  /* background: #d1d5d8; */
  width: 110px;
  margin: 20px 0;
  padding: 5px 15px;
  background: #f5f7f9;
  border: 2px solid #424242;
  text-align: center;
}

.mb-menu-list li a {
  color: #1c3154;
  font-weight: 600;
}

.mb-menu-list li a:hover {
  color: #424242;
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 600px) {
  .mb-menu {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .mb-menu-list li a {
    padding: 5px 1.04vw;

    margin: 0 0.35vw;
  }
}

@media screen and (max-width: 350px) {
  .mb-menu-list li a {
    font-size: 4.57vw;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 260px;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.08);
  z-index: 9999;
}

.logo {
  position: relative;
  display: block;
  margin-top: 60px;
}

.logo h1 {
  position: relative;
  display: block;
  font-size: 0;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background: url("../images/logo.png") no-repeat center;
  background-size: cover;
}

.gnb {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 100px 0;
}

.gnb > li {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

.gnbfocus {
  color: #5fa4e8 !important;
  font-weight: 600 !important;
}

.gnb > li > a {
  display: block;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  color: #888;
}

.gnb > li > a:hover {
  color: #424242;
}

.gnb > li > a:hover::before {
  opacity: 1;
}

.gnb > li > a:hover::after {
  opacity: 1;
}

.gnb > li > a:active {
  transform: scale(0.8);
}
.submenu {
  position: absolute;
  left: -95%;
  transform: translateX(-50%);
  bottom: -6px;
  display: block;
  opacity: 0;
  z-index: 9;
  transition: all 0.5s ease-in;
}
.submenu li {
}
.submenu li a {
  font-size: 14px;
  color: #888;
  font-weight: 500;
}
.possibility-hover:hover .submenu {
  left: 50%;
  opacity: 1;
}
.submenu > li:hover .go-possibility {
  color: #5fa4e8;
}
@media screen and (max-width: 900px) {
  .header {
    width: 28.89vw;
  }
}

@media screen and (max-width: 780px) {
  .wrap {
    margin-left: 31.33vw;
    transition: all 0.2s;
  }

  .logo h1 {
    width: 19.23vw;
    height: 19.23vw;
  }
}

@media screen and (max-width: 600px) {
  .wrap {
    margin-left: 0;
  }

  .header {
    display: none;
  }
}

.visual {
  position: relative;
  display: block;
  height: 1000px;
  /* overflow-y: hidden; */
  background: #fcfcfc;
}

.visual .inner {
  position: relative;
  display: flex;
  flex-direction: column;
}

.visual-top {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 760px;
}

.text_box {
  position: relative;
  display: block;
  width: 100%;
}

.visual-title {
  font-size: 28px;
  font-weight: 600;
}

.visual-title span {
  display: block;
  margin: 20px 0;
  letter-spacing: 1.3px;
}

.text-strong {
  margin-top: 60px;
}
.text-strong span {
  font-weight: 800;
  color: #5fa4e8;
  letter-spacing: 1.3px;
  font-size: 32px;
}
.text-strong span strong {
}
.visual-img {
  width: 1000px;
  overflow: hidden;
}
.visual-img img {
  display: block;
  width: 100%;
}
.visual-icon {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.visual-icon li {
  padding: 10px 50px;
}

.visual-icon li a {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 0;
}

.visual-email {
  background: url("../images/email.png") no-repeat center;
  background-size: cover;
}

.visual-git {
  background: url("../images/github.png") no-repeat center;
  background-size: cover;
}

.visual-pdf {
  background: url("../images/pdf.png") no-repeat center;
  background-size: cover;
}

.visual-curri {
  background: url("../images/curriculum.png") no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 1090px) {
  .visual {
    position: relative;
    display: block;
    height: 1000px;
  }

  .visual-title {
    font-size: 2.66vw;
  }
}

@media screen and (max-width: 1000px) {
  .visual-top {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 770px) {
  .visual-icon li {
    padding: 10px 6.49vw;
  }
}

@media screen and (max-width: 600px) {
  .visual-icon li {
    padding: 10px 6.49vw;
  }

  .visual-title {
    text-align: center;
    transition: all 0.3 ease;
  }
}

/* profile */
.profile {
  position: relative;
  display: block;
  background: #f5f7f9;
}

.profile .inner {
  position: relative;
  display: block;
  padding: 50px 0;
}

.profile h2 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.profile h3 {
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
}

.profile h3 strong {
  font-weight: 700;
  font-size: 27px;
  color: #5fa4e8;
}

.profile-header {
  display: flex;
  margin-bottom: 100px;
}
.profile-img {
  width: 400px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 16px;
  transition: all 0.3s ease;
  overflow: hidden;
}
.profile-header img {
  width: 100%;
  /* height: 500px; */
}

.profile-box {
}

/* .profile-box .profile-title {
  font-size: 22px;
  font-weight: 500;
  margin: 19px 0;
} */

.profile-box .profile-txt {
  font-size: 15px;
  line-height: 1.8;
  white-space: nowrap;
  margin-bottom: 25px;
  /* word-break: keep-all; */
}

.profile-box .profile-txt strong {
  font-size: 16px;
  font-weight: 600;
  color: #1c3154;
}
.profile-bottom {
  display: flex;
  margin-top: 52px;
}
.profile-bottom h4 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 700;
}
.experience {
}

.experience > h4 {
}

.profile-bottom p {
  padding: 12px 0;
}

.profile-bottom strong {
  color: #1c3154;
  font-weight: 600;
}

.profile-bottom p span {
  font-size: 14px;
  font-weight: 400;
  padding-right: 20px;
}
.experience strong em {
  display: block;
  margin-left: 75px;
}
.mbti {
  margin-left: 20px;
}

.Possibility {
  position: relative;
  display: block;
  text-transform: uppercase;
}

.Possibility h3 {
  position: relative;
  display: block;
  width: 100%;
  margin: 80px 0;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  font-family: "Acme";
}

.Possibility > p {
  position: relative;
  display: block;
  width: 100%;
}

.Possibility-inner {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
}

.Possibility-box {
  position: relative;
  display: block;
  width: 100%;
  /* background: #ddd; */
}

.Possibility-box-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  padding-left: 100px;
}

.Possibility-box-list li {
}

.Possibility-box-list li img {
  display: inline-block;
  width: 40px;
}

.Possibility-box-list li .Possibility-box-title {
  display: inline-block;
  font-size: 22px;
}

.Possibility-1 {
  color: #3473b2;
}

.Possibility-2 {
  color: #3473b2;
}

.Possibility-3 {
  color: #3473b2;
}

.Possibility-4 {
  color: #3473b2;
}

.Possibility-box-list li .Possibility-box-txt {
  display: block;
  margin-top: 10px;
}

.canvas-box {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
}

.canvas {
  width: 100%;
  height: 60%;
}

.skill {
  position: relative;
  display: block;
}

.skill h3 {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 80px;
  font-family: "Acme";
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skill-list li {
  position: relative;
  text-align: center;
  width: calc(100% / 6);
  padding: 10px 0;
  /* height: 100px; */
}

.skill-list li i {
  font-size: 50px;
}

.html5 {
  color: #f56141;
}

.css {
  color: #5fa4e8;
}

.js {
  color: #f0ba43;
}

.jq {
  color: #e98e35;
}

.s-vue {
  color: #59f1c5;
}

.es {
  color: #ebd047;
}

.scss {
  color: #fac0cb;
}

.flex {
  color: #38a3eb;
}

.grid {
  color: #9ecd1c;
}

.figma {
  color: #1c3154;
}

.bootstrap {
  color: #881aff;
}

.github {
  color: #b1acac;
}

.skill-list li span {
  text-transform: uppercase;
  font-weight: 500;
}

@media screen and (max-width: 1549px) {
  .profile-header img {
    height: 53.74vw;
  }
}

@media screen and (max-width: 1465px) {
  .profile-box .profile-txt {
    font-size: 1.09vw;
  }

  .profile-header img {
    height: 54.74vw;
  }
}

@media screen and (max-width: 1440px) {
  .Possibility-box-txt {
    font-size: 1.11vw;
  }
}

@media screen and (max-width: 1325px) {
  .profile-header img {
    margin-right: 5.55vw;
    height: 37.74vw;
  }

  .profile-box h3 {
    font-size: 2.11vw;
  }

  .profile-box .profile-txt {
    line-height: 1.3;
  }

  .experience p span {
    font-size: 1.06px;
  }

  .experience p {
    font-size: 1.51px;
  }

  .Possibility-inner {
    flex-direction: column-reverse;
  }

  .Possibility-box {
    margin-top: 50px;
    text-align: center;
  }

  .Possibility-box-list {
    padding-left: 0;
  }

  .Possibility-box li {
    padding: 10px 0;
  }
}

@media screen and (max-width: 1000px) {
  .profile-header {
    flex-direction: column;
  }

  .profile-header img {
    width: 500px;
    height: auto;
    margin: 0 auto;
  }

  .profile-box {
    display: block;
    padding-top: 20px;
    margin: 0 auto;
  }

  .profile-box h3 {
    font-size: 3vw;
    text-align: center;
  }

  .profile-box .profile-title {
    text-align: center;
  }

  .profile-box .profile-txt {
    text-align: center;
    line-height: 1.5;
    font-size: 1.8vw;
  }

  .experience h3 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .experience p {
    font-size: 1.6vw;
    padding-left: 5vw;
  }

  .experience p span {
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 620px) {
  .profile-box h3 {
    font-size: 4.5vw;
  }

  .profile-box .profile-title {
    font-size: 3.5vw;
  }

  .profile-box .profile-txt {
    font-size: 2.6vw;
  }
}

@media screen and (max-width: 550px) {
  .skill-list li i {
    font-size: 9.09vw;
  }

  .profile h2 {
    font-size: 10.82vw;
  }

  .Possibility h3 {
    font-size: 9.09vw;
  }

  .skill h3 {
    font-size: 9.09vw;
  }

  .skill-list li span {
    font-size: 3.3vw;
  }
}

@media screen and (max-width: 500px) {
  .profile-header img {
    width: 100vw;
  }

  .profile-box .profile-txt {
    font-size: 2.3vw;
  }

  .profile-box .profile-txt strong {
    font-size: 3.2vw;
  }
}

.portfolio {
  position: relative;
  display: block;
}

.portfolio .inner {
  position: relative;
  display: block;
  padding: 120px 0;
}

.portfolio h2 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}

.portfolio h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.portfolio-btn button {
  margin: 0 10px;
  font-size: 18px;
  background: transparent;
  padding: 5px 10px;
  transition: 0.2s ease-in;
  cursor: pointer;
  border: 2px solid #d1d5d8;
  border-radius: 15px 0;
  color: #424242;
  font-family: "Acme";
}

.portfolio-btn button:hover {
  background: #e6b10a;
  color: #ddd;
}

.portfolio-btn button:active {
  transform: scale(0.9);
}

.all {
}

.all:focus {
  background: #e6b10a;
  color: #fff;
  border: 2px solid #d1d5d8;
}

.personal {
}

.personal:focus {
  background: #e6b10a;
  color: #fff;
  border: 2px solid #d1d5d8;
}

.study {
}

.study:focus {
  background: #cebb7b;
  color: #fff;
  border: 2px solid #d1d5d8;
}

.vue {
}

.vue:focus {
  background: #c4b37b;
  color: #fff;
  border: 2px solid #d1d5d8;
}

.portfolio-all {
  position: relative;
  width: 100%;
  height: 100%;
}

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;

  align-items: flex-start;
}

.protfolio-clone {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc((100% / 2) - 1px);
  height: 100%;
  margin: 50px 0;
  transition: all 0.3s ease;
  border-right: 1px dotted rgba(0, 0, 0, 0.09);
}

.protfolio-clone:nth-child(2n) {
  border-right: 0;
}

.sw-txt {
  position: relative;
}

.sw-txt h5 {
  position: relative;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out;
  /* z-index: 99; */
}

.clone-ex {
  position: relative;
  display: block;
  margin: 10px 0;
}
.clone-ex p::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #5fa4e8;
  border-radius: 50%;
  margin-right: 10px;
}
.clone-ex p {
  /* text-align: center; */
  font-size: 16px;
  line-height: 1.7;
}

.sw-txt a {
  position: relative;
  display: block;
  width: 500px;
  height: 250px;
  margin: 0 auto;
}
.sw-txt a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(86, 123, 206, 0.6);
  opacity: 0;
  transition: all 0.3s ease-in;
}
.protfolio-clone:hover .sw-txt a::after {
  opacity: 1;
}
.sw-txt a img {
  width: 100%;
  height: 100%;
  /* border: 5px solid #eee; */
  /* border-radius: 15px; */
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.05),
    0 8px 16px -8px rgba(0, 0, 0, 0.05), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: all 0.2s ease-in;
  /* filter: grayscale(0.8); */
}
.mini-hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.protfolio-clone:hover .sw-txt a img {
  box-shadow: 12px 22px 32px 6px rgba(94, 94, 105, 0.25),
    0 8px 16px -8px rgba(94, 94, 105, 0.3),
    0 -6px 16px -6px rgba(94, 94, 105, 0.025);
  /* filter: brightness(0.8); */
  filter: grayscale(0);
}
.protfolio-clone:hover .mini-hover {
  opacity: 0;
}
.sw-btn {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-top: 20px;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.protfolio-clone:hover .sw-btn {
  opacity: 1;
}
.sw-btn a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 5px 10px;
  background: #5fa4e8;
  color: #fff;
  border-radius: 10px;
  margin: 5px 15px;
  font-size: 16px;
  white-space: nowrap;
}

/* .sw-btn a::before {
  content: "";
  position: absolute;
  left: 0%;
  transform: translateX(-50%);
  bottom: 3px;
  width: 0px;
  height: 2px;
  background-color: #999;
  transition: all 0.3s ease-in-out;
}

.sw-btn a::after {
  content: "";
  position: absolute;
  right: 0%;
  transform: translateX(50%);
  bottom: 0;
  width: 0px;
  height: 2px;
  background-color: #999;
  transition: all 0.6s ease-out;
} */

.sw-btn a:hover::before {
  left: 50%;
  width: 75px;
}

.sw-btn a:hover::after {
  right: 50%;
  width: 75px;
}

.sw-btn a i {
  margin: 0 3px;
}

@media screen and (max-width: 1480px) {
  .protfolio-clone {
    width: calc(100% / 2);
  }

  .sw-txt a {
    width: 36.89vw;
    height: 35.33vw;
  }
}

@media screen and (max-width: 1130px) {
  .sw-txt a {
    width: 34.89vw;
    height: 33.33vw;
  }
}

@media screen and (max-width: 1000px) {
  .protfolio-clone {
    width: 100%;
  }

  .sw-txt a {
    width: 450px;
    height: 413px;
  }
}

@media screen and (max-width: 780px) {
  .sw-txt a {
    width: 57.69vw;
    height: 52.95vw;
    font-size: 2.04vw;
  }
}

@media screen and (max-width: 550px) {
  .portfolio h2 {
    font-size: 10.82vw;
  }

  .sw-txt a {
    width: 300.28px;
    height: 290.22px;
  }
}

@media screen and (max-width: 400px) {
  .sw-txt h5 {
    font-size: 5vw;
  }

  .clone-ex p {
    font-size: 4vw;
  }
}

@media screen and (max-width: 360px) {
  .portfolio-btn button {
    padding: 5vw 2.78vw;
    font-size: 5vw;
    margin: 0 2.78vw;
  }
}

.life {
  position: relative;
  display: block;
  background: #f5f7f9;
}

.life .inner {
  position: relative;
  display: block;
  padding: 80px 0;
}

.life .inner h2 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.life-box {
  position: relative;
  display: block;
}

.life-box-list {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.life-box-list li {
  position: relative;
  display: block;
  width: 19.2vw;
  height: 28.2vw;
  padding: 10px;
  background: #fff;
  margin: 20px;
}

.life-box-1 {
  transform: rotate(5deg);
}

.life-box-1:hover {
  transform: rotate(0deg);
  transition: all 0.35s;
}

.life-box-2 {
  transform: rotate(-5deg);
}

.life-box-2:hover {
  transform: rotate(0deg);
  transition: all 0.35s;
}

.life-box-3 {
  transform: rotate(4deg);
}

.life-box-3:hover {
  transform: rotate(0deg);
  transition: all 0.35s;
}

.life-box-4 {
  transform: rotate(5deg);
}

.life-box-4:hover {
  transform: rotate(0deg);
  transition: all 0.35s;
}

.life-box-5 {
  transform: rotate(-5deg);
}

.life-box-5:hover {
  transform: rotate(0deg);
  transition: all 0.35s;
}

.life-box-6 {
  transform: rotate(4deg);
}

.life-box-6:hover {
  transform: rotate(0deg);
  transition: all 0.35s;
}

.life-box-txt {
  position: relative;
  display: flex;
  flex-direction: column;
}
.life-box-txt p {
  width: 350px;
}

.life-box-txt p img {
  width: 100%;
  /* height: 23.08vw; */
}

.life-box-txt span {
  padding-top: 16px;
  text-align: center;
  font-family: "Prompt";
}
@media screen and (max-width: 1000px) {
  .life-box-list {
    flex-direction: column;
    align-items: center;
  }
  .life-box-list li {
    width: 50vw;
    height: 60vw;
  }
  .life-box-txt img {
    height: 50vw;
  }
  .life-box-1 {
    transform: scale(0.8, 0.8) rotate(0);
  }

  .life-box-2 {
    transform: scale(0.8, 0.8) rotate(0);
  }

  .life-box-3 {
    transform: scale(0.8, 0.8) rotate(0);
  }

  .life-box-4 {
    transform: scale(0.8, 0.8) rotate(0);
  }

  .life-box-5 {
    transform: scale(0.8, 0.8) rotate(0);
  }

  .life-box-6 {
    transform: scale(0.8, 0.8) rotate(0);
  }
}
@media screen and (max-width: 600px) {
  .life-box-list li {
    width: 65vw;
    height: 70vw;
  }
  .life-box-txt img {
    height: 65vw;
  }
}

.contact {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  padding: 20px 0;
  /* background: #f5f7f9; */
}

.contact .inner {
  position: relative;
  display: block;
}

.contact h2 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}

.footer {
  position: relative;
  display: block;
}

.footer .inner {
  position: relative;
  display: block;
  width: 100%;
}

.f-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-51%);
  display: block;
  text-align: center;
  width: 150px;
}

.footer-box {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 150px;
}

.footer-box-list {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer-box-list li {
  margin: 20px 20px;
}

.footer-box-list li a {
}

.footer-box-list li a img {
  display: block;
  width: 40px;
  height: 40px;
}

.copy {
  text-align: center;
  font-size: 14px;
  color: #333;
  padding: 30px 0;
}

@media screen and (max-width: 300px) {
  .footer-box {
    padding-top: 50vw;
  }

  .f-logo {
    width: 50vw;
  }

  .footer-box-list li a img {
    width: 13.33vw;
    height: 13.33vw;
  }

  .copy {
    font-size: 4.67vw;
  }
}
