@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  margin-right: 260px;
}
.gotop{
  position: fixed;
  right: 20px;
  bottom: 50px;
  display: block;
  width: 50px;
  height: 50px;
  background: #e5e5e5;
  border-radius: 15px;
  border: 0;
  transition:  0.2s ease-in;
  z-index: 9999;
  
}

.gotop:hover{
  background: #4c4c4c;
  color: #e5e5e5;
}
.wrap {
  position: relative;
  display: block;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 260px;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.08);
  z-index: 9999;
}

.logo {
  position: relative;
  display: block;
  margin-top: 60px;
}
.logo h1{
  position: relative;
  display: block;
  font-size: 0;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background: url('../images/logo.png') no-repeat center;
  background-size: cover;
}

.gnb {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 100px 0;
}

.gnb>li {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

.gnb>li>a {
  display: block;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.gnb>li>a::before {
  content: '[';
  position: relative;
  left: 0;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}

.gnb>li>a::after {
  content: '}';
  position: relative;
  right: 0;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}

.gnb>li>a:hover {
  color: hotpink;

}

.gnb>li>a:hover::before {
  opacity: 1;
}

.gnb>li>a:hover::after {
  opacity: 1;
}

.gnb>li>a:active {
  transform: scale(0.8);
}

.visual {
  position: relative;
  display: block;
  height: 1000px;
  /* background: url('http://placeimg.com/400/360/any') no-repeat center; */
  /* background-size: cover; */
}

.visual .inner {
  position: relative;
  display: flex;
  flex-direction: column;
}

.visual h2 {
  line-height: 800px;
  text-align: center;
  font-size: 300px;
}

.visual-icon {
  display: flex;
  justify-content: center;
}

.visual-icon li {
  padding: 0 50px;
}

.visual-icon li a {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
}

.visual-email {
  background: url('../images/email.png') no-repeat center;
  background-size: cover;
}

.visual-git {
  background: url('../images/github.png') no-repeat center;
  background-size: cover;
}

.visual-pdf {
  background: url('../images/pdf.png') no-repeat center;
  background-size: cover;
}

.visual-curri {
  background: url('../images/curriculum.png') no-repeat center;
  background-size: cover;
}

.profile {
  position: relative;
  display: block;
  background: rgba(185, 184, 184, 0.1);
}

.profile .inner {
  position: relative;
  display: block;
  padding: 50px 0;

}


.profile h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.profile-header {
  display: flex;
  margin: 100px 0;
}

.profile-header img {
  margin-right: 100px;
}

.profile-title {}

.profile-title h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.profile-title p {
  font-size: 18px;

}

.skill {}

.skill h3 {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 150px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skill-list li {
  position: relative;
  text-align: center;
  width: calc(100% / 4);
  padding: 10px 0;
  /* height: 100px; */
}

.skill-list li img {
  width: 80px;
}

.skill-list li span {
  padding: 10px 0;
}

.portfolio {
  position: relative;
  display: block;
}

.portfolio .inner {
  position: relative;
  display: block;
  padding: 50px 0;
}

.portfolio h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;

}

.portfolio h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.portfolio-btn button {
  margin: 0 10px;
  font-size: 18px;
  background: transparent;
  padding: 5px 10px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.portfolio-btn button:active {
  transform: scale(0.9);
}

.all {}

.all:focus {
  background: skyblue;
  color: #fff;
}

.personal {}

.personal:focus {
  background: skyblue;
  color: #fff;
}

.study {}

.study:focus {
  background: skyblue;
  color: #fff;
}

.vue {}

.vue:focus {
  background: skyblue;
  color: #fff;
}

.portfolio-all {
  position: relative;
  width: 100%;
  height: 100%;
}

.portfolio-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.protfoio-clone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  padding: 50px 0;
}

.sw-txt {}
.sw-txt h5{
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  transition: all 0.5s ease-in-out;
  /* z-index: 99; */
}

.sw-txt a {}

.sw-txt a img {
  width: 350px;
  height: 313px;
  border: 5px solid #eee;
  border-radius: 15px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: all 0.3s ease-in;
}
.protfoio-clone:hover .sw-txt a img{
  box-shadow: 12px 22px 32px 6px rgba(77, 77, 235, 0.25),
      0 8px 16px -8px rgba(77, 77, 235, 0.3), 0 -6px 16px -6px rgba(77, 77, 235, 0.025);
}
.sw-btn {
  position: relative;
  display: block;
  margin-top: 15px;
}

.sw-btn a {
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 10px;  
}

.life {
  position: relative;
  display: block;
}

.life .inner {
  position: relative;
  display: block;
}

.about {}

.about-list {
  display: flex;
  padding: 80px 0;
}

.about-list li {
  padding: 0 20px;
}

.about-list img {}

.about-left {
  margin-top: 100px;
}

.about-center {}

.about-right {
  margin-top: 100px;
}

.contact {
  position: relative;
  display: block;
}

.contact .inner {
  position: relative;
  display: block;
}

.footer {
  position: relative;
  display: block;
}

.footer .inner {
  position: relative;
  display: block;
}