@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  /* margin-right: 13.87vw; */
}

.gotop {
  position: fixed;
  right: 20px;
  bottom: 50px;
  display: block;
  width: 50px;
  height: 50px;
  background: #e5e5e5;
  border-radius: 15px;
  border: 0;
  transition: 0.2s ease-in;
  z-index: 9999;

}

.gotop:hover {
  background: #4c4c4c;
  color: #e5e5e5;
}

@media screen and (max-width:950px) {
  .gotop {
    display: none;
  }
}

.wrap {
  position: relative;
  display: block;
  margin-left: 260px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 260px;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.08);
  z-index: 9999;
}

.logo {
  position: relative;
  display: block;
  margin-top: 60px;
}

.logo h1 {
  position: relative;
  display: block;
  font-size: 0;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background: url('../images/logo.png') no-repeat center;
  background-size: cover;
}

.gnb {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 100px 0;
}

.gnb>li {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

.gnb>li>a {
  display: block;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  color: #888;
}

.gnb>li>a:hover {
  color: #424242;

}

.gnb>li>a:hover::before {
  opacity: 1;
}

.gnb>li>a:hover::after {
  opacity: 1;
}

.gnb>li>a:active {
  transform: scale(0.8);
}

@media screen and (max-width: 900px) {
  .header {
    width: 28.89vw;
  }
}

@media screen and (max-width: 780px) {
  .wrap {
    margin-left: 31.33vw;
    transition: all 0.2s;
  }

  .logo h1 {
    width: 19.23vw;
    height: 19.23vw;
  }
}
@media screen and (max-width: 600px) {
  .wrap {
    margin-left: 0;
  }
  .header{
    display: none;
  }
}
.visual {
  position: relative;
  display: block;
  height: 1000px;
}

.visual .inner {
  position: relative;
  display: flex;
  flex-direction: column;
}

.visual h2 {
  display: block;
  width: 300px;
  height: 800px;
}

.visual-icon {
  display: flex;
  justify-content: center;
}

.visual-icon li {
  padding: 0 50px;
}

.visual-icon li a {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
}

.visual-email {
  background: url('../images/email.png') no-repeat center;
  background-size: cover;
}

.visual-git {
  background: url('../images/github.png') no-repeat center;
  background-size: cover;
}

.visual-pdf {
  background: url('../images/pdf.png') no-repeat center;
  background-size: cover;
}

.visual-curri {
  background: url('../images/curriculum.png') no-repeat center;
  background-size: cover;
}

@media screen and (max-width:1090px) {
  .visual {
    position: relative;
    display: block;
    height: 91.74vw;
  }

  .visual h2 {
    height: 73.39vw;
  }
}

@media screen and (max-width:880px) {
  .visual-icon li {
    padding: 0 5.68vw;
  }
}

/* profile */
.profile {
  position: relative;
  display: block;
  background: rgba(185, 184, 184, 0.1);
}

.profile .inner {
  position: relative;
  display: block;
  padding: 50px 0;

}


.profile h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.profile-header {
  display: flex;
  margin: 100px 0;
}

.profile-header img {
  width: 100%;
  height: 100%;
  margin-right: 100px;
}

.profile-box {}

.profile-box h3 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
  white-space: nowrap;
}

.profile-box .profile-title {
  font-size: 22px;
  font-weight: 500;
  margin: 15px 0;
}

.profile-box .profile-txt {
  font-size: 15px;
  line-height: 1.8;
  /* word-break: keep-all; */
  
}


.skill {
  position: relative;
  display: block;
}

.skill h3 {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 150px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skill-list li {
  position: relative;
  text-align: center;
  width: calc(100% / 4);
  padding: 10px 0;
  /* height: 100px; */
}

.skill-list li i {
  font-size: 50px;
}

.html5 {
  color: #f56141;
}

.css {
  color: #5fa4e8;
}

.js {
  color: #f0ba43;
}

.jq {
  color: #e98e35;
}

.s-vue {
  color: #59f1c5;
}

.es {
  color: #ebd047;
}

.scss {
  color: #fac0cb;
}

.flex {
  color: #38a3eb;
}

.grid {
  color: #9ecd1c;
}

.figma {
  color: #1c3154;
}

.bootstrap {
  color: #881aff;
}

.github {
  color: #b1acac;
}

.skill-list li span {
  text-transform: uppercase;
  font-weight: 500;
}
@media screen and (max-width:1465px) {
  .profile-box .profile-txt {
    font-size: 1.09vw;

  }
}

@media screen and (max-width:1325px) {
  .profile-header img {
    margin-right: 5.55vw;
    transition: all 0.3s ease;
    /* width: 30.19vw; */
    height: 37.74vw;
  }

  .profile-box h3 {
    font-size: 2.11vw;
  }

  .profile-box .profile-txt {
    line-height: 1.3;

  }

}

@media screen and (max-width:1000px) {
  .profile-header {
    flex-direction: column;

  }

  .profile-header img {
    width: 500px;
    height: auto;
    margin: 0 auto;
  }

  .profile-box {
    display: block;
    padding-top: 20px;
    margin: 0 auto;
  }

  .profile-box h3 {
    font-size: 3vw;
    text-align: center;
  }

  .profile-box .profile-title {
    text-align: center;
  }

  .profile-box .profile-txt {
    text-align: center;
    line-height: 1.5;
    font-size: 1.8vw;

  }
}
@media screen and (max-width:620px) {
  .profile-box h3 {
    font-size: 4.5vw;
    
  }
  .profile-box .profile-title {
    font-size: 3.5vw;
  }
  .profile-box .profile-txt {
    font-size: 2.6vw;
  }
}
@media screen and (max-width:550px) {
  .skill-list li i {
    font-size: 9.09vw;
}
}

.portfolio {
  position: relative;
  display: block;
}

.portfolio .inner {
  position: relative;
  display: block;
  padding: 50px 0;
}

.portfolio h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;

}

.portfolio h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.portfolio-btn button {
  margin: 0 10px;
  font-size: 18px;
  background: transparent;
  padding: 5px 10px;
  transition: 0.2s ease-in;
  cursor: pointer;
  border: 3px solid #d1d5d8;
  border-radius: 15px 15px 0 15px;
  color: #424242;
}

.portfolio-btn button:hover {
  background: #e6b10a;
  color: #ddd;
}

.portfolio-btn button:active {
  transform: scale(0.9);
}

.all {}

.all:focus {
  background: #e6b10a;
  color: #fff;
  border: 2px solid #d1d5d8;
}

.personal {}

.personal:focus {
  background: #e6b10a;
  color: #fff;
  border: 2px solid #d1d5d8;
}

.study {}

.study:focus {
  background: #e6b10a;
  color: #fff;
  border: 2px solid #d1d5d8;
}

.vue {}

.vue:focus {
  background: #e6b10a;
  color: #fff;
  border: 2px solid #d1d5d8;
}

.portfolio-all {
  position: relative;
  width: 100%;
  height: 100%;
}

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;

  align-items: flex-start
}

.protfolio-clone {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  height: 100%;
  margin: 50px 0;
  transition: all 0.3s ease;
}


.sw-txt {
  position: relative;
}

.sw-txt h5 {
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  transition: all 0.5s ease-in-out;
  /* z-index: 99; */
}

.sw-txt a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sw-txt a img {
  width: 350px;
  height: 313px;
  border: 5px solid #eee;
  border-radius: 15px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: all 0.2s ease-in;
}

.protfolio-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 270px;
  height: 130px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.protfolio-icon-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(250, 249, 248, 1), rgba(228, 228, 227, 1));
  box-shadow: 0px 0px 10px 0px #ebebeb;
  border-radius: 15px;
  z-index: 9;
  border: 3px solid #888;
}

.protfolio-icon-box>a {
  padding: 10px 17px;
  width: auto;
  height: auto;
}

.protfolio-icon-box>a i {
  color: #566;
  font-size: 35px;
}

.protfolio-clone:hover .sw-txt a img {
  box-shadow: 12px 22px 32px 6px rgba(94, 94, 105, 0.25),
    0 8px 16px -8px rgba(94, 94, 105, 0.3), 0 -6px 16px -6px rgba(94, 94, 105, 0.025);
  filter: brightness(0.8);
}

.protfolio-clone:hover .protfolio-icon {
  opacity: 1;
}




.sw-btn {
  position: relative;
  display: flex;
  margin-top: 15px;
}

.sw-btn a {
  display: block;
  text-transform: uppercase;
  padding: 5px 10px;
  background: #d1d5d8;
  color: #8a8c93;
  border-radius: 10px;
  margin: 5px;
}

@media screen and (max-width:1480px) {
  .protfolio-clone {
    width: calc(100% / 2);
  }

  .sw-txt a img {
    width: 36.89vw;
    height: 35.33vw;
  }

}

@media screen and (max-width: 1130px) {
  .sw-txt a img {
    width: 34.89vw;
    height: 33.33vw;
  }
}

@media screen and (max-width: 1000px) {
  .protfolio-clone {
    width: 100%;
  }

  .sw-txt a img {
    width: 450px;
    height: 413px;
  }
}

@media screen and (max-width: 780px) {
  .sw-txt a img {
    width: 57.69vw;
    height: 52.95vw;
  }

  .sw-btn a {
    font-size: 2.04vw;
  }
}
.life {
  position: relative;
  display: block;
}

.life .inner {
  position: relative;
  display: block;
}

.life .inner h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.about {}

.about-list {
  display: flex;
  padding: 80px 0;
}

.about-list li {
  padding: 0 20px;
}

.about-list img {}

.about-left {
  margin-top: 100px;
}

.about-center {}

.about-right {
  margin-top: 100px;
}

.about-txt {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
  background: #fff;
  border: 2px solid #999;

}

.contact {
  position: relative;
  display: block;
}

.contact .inner {
  position: relative;
  display: block;
}

.footer {
  position: relative;
  display: block;
}

.footer .inner {
  position: relative;
  display: block;
}